PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "admin_user" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "fullName" varchar NOT NULL, "email" varchar NOT NULL, "passwordHash" varchar NOT NULL, "role" text NOT NULL DEFAULT ('content_admin'), "isActive" boolean NOT NULL DEFAULT (1), "lastLoginAt" datetime, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "UQ_840ac5cd67be99efa5cd989bf9f" UNIQUE ("email"));
INSERT INTO admin_user VALUES(1,'DLEM Super Administrator','superadmin@dlem.mw','$2b$10$z8d9N0Y7/FjUnRfuDe7tA.M8PZmpm5aQGm7VkA.135RTim91GisBW','super_admin',1,'2026-05-28 18:04:29.743','2026-05-20 16:25:26','2026-05-28 18:27:51');
CREATE TABLE IF NOT EXISTS "announcement" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "messageEnglish" text NOT NULL, "messageChichewa" text, "startDate" datetime, "expiryDate" datetime NOT NULL, "status" text NOT NULL DEFAULT ('draft'), "institutionId" integer, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')));
INSERT INTO announcement VALUES(1,'We are reducing the interest rate next month','Tikusitsa chiongola zanja changongole','2026-05-27 00:00:00.000','2026-05-29 00:00:00.000','active',NULL,'2026-05-27 13:34:00','2026-05-27 13:34:03');
INSERT INTO announcement VALUES(2,'Mponela Sacco has joined','mponela Sacco yagwilazan ','2026-05-23 00:00:00.000','2026-05-29 00:00:00.000','draft',NULL,'2026-05-28 14:30:49','2026-05-28 14:30:49');
CREATE TABLE IF NOT EXISTS "eligibility_check_log" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "institutionName" varchar NOT NULL, "institutionType" varchar, "result" varchar NOT NULL, "createdAt" datetime NOT NULL DEFAULT (datetime('now')));
CREATE TABLE IF NOT EXISTS "otp" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "email" varchar NOT NULL, "code" varchar NOT NULL, "expiresAt" datetime NOT NULL, "verified" boolean NOT NULL DEFAULT (0), "createdAt" datetime NOT NULL DEFAULT (datetime('now')));
INSERT INTO otp VALUES(1,'mangamestewart8@gmail.com','976860','2026-05-20 17:07:14.265',1,'2026-05-20 16:57:14');
INSERT INTO otp VALUES(2,'mangamestewart8@gmail.com','995358','2026-05-20 17:12:49.665',1,'2026-05-20 17:02:49');
INSERT INTO otp VALUES(3,'bsc-inf-24-21@unima.ac.mw','152909','2026-05-20 22:41:38.750',0,'2026-05-20 22:31:38');
CREATE TABLE IF NOT EXISTS "sacco" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "name" varchar NOT NULL, "minMonthlyIncome" float NOT NULL DEFAULT (50000), "minMembershipMonths" integer NOT NULL DEFAULT (12), "minServiceMonths" integer NOT NULL DEFAULT (6), "maxDtiRatio" float NOT NULL DEFAULT (0.4), "repaymentMethod" varchar NOT NULL DEFAULT ('Salary Deduction'), "loanProducts" varchar NOT NULL DEFAULT ('Group or Individual'), "collateralAccepted" boolean NOT NULL DEFAULT (0), "turnaroundTime" varchar NOT NULL DEFAULT ('7 working days'), "interestRate" float NOT NULL DEFAULT (18), "processingFeePercent" float NOT NULL DEFAULT (0), "minRepaymentMonths" integer NOT NULL DEFAULT (3), "maxRepaymentMonths" integer NOT NULL DEFAULT (60), "notes" text, "status" text NOT NULL DEFAULT ('active'), "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "UQ_8772809eb9060b0840ec976435b" UNIQUE ("name"));
INSERT INTO sacco VALUES(1,'Malawi Police SACCO',40000.0,3,6,0.4500000000000000111,'Salary deduction / stop order only','Personal / Salary Loan',1,'1 to 3 days',18.0,0.5,3,60,'Exclusive to registered Malawi Police SACCO members. Members can access salary-based loans after meeting the minimum membership period.','active','2026-05-27 20:25:12','2026-05-27 20:25:12');
CREATE TABLE IF NOT EXISTS "admin_activity_log" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "adminId" integer NOT NULL, "action" varchar NOT NULL, "entityType" varchar, "entityId" varchar, "description" varchar, "fieldChanged" varchar, "oldValue" text, "newValue" text, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "FK_f25dbb09d1c1c44fc5862865e08" FOREIGN KEY ("adminId") REFERENCES "admin_user" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);
INSERT INTO admin_activity_log VALUES(1,1,'institution.create','Institution','7','Created institution: DUMIE',NULL,NULL,NULL,'2026-05-24 05:57:01');
INSERT INTO admin_activity_log VALUES(2,1,'institution.create','Institution','8','Created institution: ANDREW',NULL,NULL,NULL,'2026-05-24 19:39:44');
INSERT INTO admin_activity_log VALUES(3,1,'institution.update','Institution','3','Changed status on Standard Bank Malawi','status','active','inactive','2026-05-24 20:46:03');
CREATE TABLE IF NOT EXISTS "institution_criteria" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "institutionId" integer NOT NULL, "maxDtiRatio" float NOT NULL, "minNetSalary" float NOT NULL, "interestRate" float NOT NULL DEFAULT (25), "fixedInterestRate" float, "interestRateLabel" varchar, "processingFeePercent" float NOT NULL DEFAULT (0), "minRepaymentMonths" integer NOT NULL DEFAULT (3), "maxRepaymentMonths" integer NOT NULL DEFAULT (60), "civilServantMultiplier" float NOT NULL DEFAULT (6), "privateMultiplier" float NOT NULL DEFAULT (4), "selfEmployedMultiplier" float NOT NULL DEFAULT (2), "saccoMemberMultiplier" float NOT NULL DEFAULT (8), "eligibleEmploymentTypes" text NOT NULL DEFAULT ('["civil_servant","private_sector","self_employed","sacco_member"]'), "requiresGuarantor" boolean NOT NULL DEFAULT (0), "requiresPayslip" boolean NOT NULL DEFAULT (1), "notes" text, "customCriteria" text DEFAULT ('[]'), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "REL_7180e6907ede8719f4741dcf08" UNIQUE ("institutionId"), CONSTRAINT "FK_7180e6907ede8719f4741dcf086" FOREIGN KEY ("institutionId") REFERENCES "institution" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);
INSERT INTO institution_criteria VALUES(2,2,0.4000000000000000222,60000.0,28.0,NULL,NULL,2.0,3,60,10.0,5.0,3.0,7.0,'["civil_servant","private_sector","self_employed","sacco_member"]',0,1,'Open to all employment categories. Lower minimum salary threshold than peers. Self-employed applicants require 12 months of bank statements.','[]','2026-05-20 16:25:26');
INSERT INTO institution_criteria VALUES(4,4,0.5,30000.0,36.0,NULL,NULL,3.0,1,36,4.0,3.0,3.0,4.0,'["civil_servant","private_sector","self_employed","sacco_member"]',0,0,'Accessible microfinance for low-income borrowers. No payslip required ΓÇö alternative income evidence accepted. Group lending option available.','[]','2026-05-20 16:25:26');
INSERT INTO institution_criteria VALUES(5,5,0.5,20000.0,40.0,NULL,NULL,4.0,1,24,3.0,2.0,2.0,3.0,'["civil_servant","private_sector","self_employed","sacco_member"]',0,0,'Lowest minimum salary threshold in the market. Flexible repayment with no payslip required. Maximum term of 24 months. Ideal for micro-entrepreneurs.','[]','2026-05-20 16:25:26');
CREATE TABLE IF NOT EXISTS "financial_profile" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "userId" integer NOT NULL, "employerName" varchar NOT NULL, "employmentCategory" varchar NOT NULL DEFAULT ('private_sector'), "employmentType" varchar, "monthlyNetSalary" float NOT NULL, "salaryInstitutionId" integer, "employmentYears" float, "age" integer, "housingStatus" varchar, "existingLoanAmount" float NOT NULL DEFAULT (0), "totalBorrowedAmount" float NOT NULL DEFAULT (0), "bankingYears" float NOT NULL DEFAULT (0), "dependants" integer NOT NULL DEFAULT (0), "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "REL_f1e6026237b634d9c960701cf8" UNIQUE ("userId"), CONSTRAINT "FK_f1e6026237b634d9c960701cf80" FOREIGN KEY ("userId") REFERENCES "user" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION, CONSTRAINT "FK_2c56c29056d5f36d42fc7721929" FOREIGN KEY ("salaryInstitutionId") REFERENCES "institution" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);
INSERT INTO financial_profile VALUES(1,1,'ministry of education','civil_servant',NULL,2500000.0,2,36.0,40,'owner',805742.0,3000000.0,6.0,4,'2026-05-22 12:02:40','2026-05-28 02:23:15');
INSERT INTO financial_profile VALUES(2,10,'ministry of education','civil_servant',NULL,2500000.0,2,36.0,45,'owner',58849.0,1500000.0,8.0,6,'2026-05-28 14:33:26','2026-05-28 14:44:05');
CREATE TABLE IF NOT EXISTS "notification_log" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "reminderId" integer NOT NULL, "deliveredAt" datetime NOT NULL DEFAULT (datetime('now')), "channel" varchar NOT NULL, "success" boolean NOT NULL, "errorMessage" varchar, CONSTRAINT "FK_d72905128375ce8e690bd413fde" FOREIGN KEY ("reminderId") REFERENCES "reminder" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);
CREATE TABLE IF NOT EXISTS "reminder" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "loanId" integer NOT NULL, "userId" integer NOT NULL, "scheduledAt" datetime NOT NULL, "sentAt" datetime, "channel" varchar NOT NULL, "status" varchar NOT NULL, "deductionConfirmed" boolean NOT NULL DEFAULT (0), CONSTRAINT "FK_21b6d4e6cd1325207e57acb17a7" FOREIGN KEY ("loanId") REFERENCES "loan" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION, CONSTRAINT "FK_c4cc144b2a558182ac6d869d2a4" FOREIGN KEY ("userId") REFERENCES "user" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);
INSERT INTO reminder VALUES(1,1,1,'2025-12-29 00:00:00.000',NULL,'BOTH','PENDING',0);
INSERT INTO reminder VALUES(2,1,1,'2025-12-31 00:00:00.000',NULL,'BOTH','PENDING',0);
INSERT INTO reminder VALUES(3,1,1,'2026-01-29 00:00:00.000',NULL,'BOTH','PENDING',0);
CREATE TABLE IF NOT EXISTS "loan" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "userId" integer NOT NULL, "providerInstitutionId" integer, "providerName" varchar, "loanAmount" float NOT NULL, "interestRate" float NOT NULL DEFAULT (0), "monthlyDeduction" float NOT NULL, "loanTermMonths" integer NOT NULL, "startDate" datetime NOT NULL, "remainingBalance" float, "paidMonths" integer NOT NULL DEFAULT (0), "isActive" boolean NOT NULL DEFAULT (1), "loanPurpose" varchar, "applicationId" integer, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "REL_71e157cebbb766d458601eaa45" UNIQUE ("applicationId"), CONSTRAINT "FK_ef7a63b4c4f0edd90e389edb103" FOREIGN KEY ("userId") REFERENCES "user" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION, CONSTRAINT "FK_539880cbeae49118b497e177db5" FOREIGN KEY ("providerInstitutionId") REFERENCES "institution" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION, CONSTRAINT "FK_71e157cebbb766d458601eaa453" FOREIGN KEY ("applicationId") REFERENCES "loan_application" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);
INSERT INTO loan VALUES(1,1,4,NULL,1000000.0,24.0,52871.0,24,'2026-01-01 00:00:00.000',0.0,4,0,'Home',NULL,'2026-05-27 08:55:15','2026-05-28 02:21:43');
INSERT INTO loan VALUES(2,1,2,NULL,2000000.0,24.0,105742.0,24,'2026-02-01 00:00:00.000',1798803.0,3,1,'Home',NULL,'2026-05-28 02:23:15','2026-05-28 02:23:15');
INSERT INTO loan VALUES(3,10,2,NULL,1500000.0,24.0,58849.0,36,'2026-03-01 00:00:00.000',1441724.0,2,1,'home',NULL,'2026-05-28 14:44:05','2026-05-28 14:44:05');
CREATE TABLE IF NOT EXISTS "loan_application" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "userId" integer NOT NULL, "institutionId" integer NOT NULL, "amount" float NOT NULL, "purpose" text NOT NULL, "durationMonths" integer NOT NULL, "monthlyInstallment" float NOT NULL, "riskScore" integer NOT NULL DEFAULT (0), "riskCategory" varchar NOT NULL DEFAULT ('UNKNOWN'), "dtiRatio" float NOT NULL DEFAULT (0), "status" varchar NOT NULL DEFAULT ('PENDING'), "createdAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "FK_b230bdee649054b02a0d6be06c4" FOREIGN KEY ("userId") REFERENCES "user" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION, CONSTRAINT "FK_a1661d5aa471c7a74eeec41da7a" FOREIGN KEY ("institutionId") REFERENCES "institution" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);
CREATE TABLE IF NOT EXISTS "user" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "fullName" varchar NOT NULL, "nationalId" varchar NOT NULL, "employeeNumber" varchar NOT NULL, "phone" varchar NOT NULL, "email" varchar NOT NULL, "passwordHash" varchar NOT NULL, "role" varchar NOT NULL DEFAULT ('customer'), "isEmailVerified" boolean NOT NULL DEFAULT (0), "accountStatus" varchar NOT NULL DEFAULT ('active'), "resetPasswordToken" varchar, "resetPasswordExpires" datetime, "lastActiveAt" datetime, "suspendedAt" datetime, "isInstitutionAdmin" boolean NOT NULL DEFAULT (0), "institutionId" integer, "bank" varchar, "department" varchar, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "UQ_5e30ae7136bce1f6d80d9c0b72d" UNIQUE ("nationalId"), CONSTRAINT "UQ_34de8d816758be8c11f6332a6e7" UNIQUE ("employeeNumber"), CONSTRAINT "UQ_e12875dfb3b1d92d7d7c5377e22" UNIQUE ("email"), CONSTRAINT "FK_ca0de218397aed2409d865d1580" FOREIGN KEY ("institutionId") REFERENCES "institution" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);
INSERT INTO user VALUES(1,'Stewart Mangame','Phiri','TY-232322227','+26588228407447','mangamestewart8@gmail.com','$2b$10$w1u6mAdS3ltx3ufw8Nd/QeYougC4O1URoNQKrSH5sbsuhGi1dM1yq','customer',1,'active',NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,'2026-05-20 16:57:14','2026-05-20 17:03:13');
INSERT INTO user VALUES(2,'Dumisani Makungwa','MW-4545445777','CD2266777','+265882284074477','bsc-inf-24-21@unima.ac.mw','$2b$10$wSP6kbowrl/U/l07l6fagejsVni3LtojDbQw3L9nN9IhlGzqAYlpS','customer',0,'active',NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,'2026-05-20 22:31:38','2026-05-20 22:31:38');
INSERT INTO user VALUES(3,'Dumisani Makungwa','MW-4545445','TY-23232','+2658822840744779','bsc-inf-11-21@unima.ac.mw','$2b$10$HHWHBih70P2m63XGN0Bm.O0fzz8LbbF6NXHN7Fu.lsvG3Oy8vqS3.','customer',0,'active',NULL,NULL,NULL,NULL,0,NULL,NULL,NULL,'2026-05-20 22:38:21','2026-05-20 23:11:31');
CREATE TABLE IF NOT EXISTS "content_string" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "key" varchar NOT NULL, "english" text NOT NULL, "chichewa" text, "status" text NOT NULL DEFAULT ('placeholder'), "institutionId" integer, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "UQ_e87145edebe0d1aad25abeaabab" UNIQUE ("key"), CONSTRAINT "FK_1560b9b0b9b9c37c68f8163b93f" FOREIGN KEY ("institutionId") REFERENCES "institution" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);
CREATE TABLE IF NOT EXISTS "loan_product" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "institutionId" integer NOT NULL, "name" varchar NOT NULL, "minAmount" float NOT NULL DEFAULT (0), "maxAmount" float NOT NULL DEFAULT (0), "interestRate" float, "repaymentPeriods" varchar, "processingFeePercent" float NOT NULL DEFAULT (0), "insuranceFeePercent" float NOT NULL DEFAULT (0), "collateralRequirements" varchar, "conditions" text, "status" text NOT NULL DEFAULT ('active'), "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "FK_d6d6d8729a68d2c4fb450160b51" FOREIGN KEY ("institutionId") REFERENCES "institution" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);
INSERT INTO loan_product VALUES(1,4,'Village Bank Loan',50000.0,4000000.0,28.0,'3,6,9,12,18,24',2.5,0.8499999999999999778,'10% upfront cash collateral and mutual group guarantee','For business owners in active groups of 5 to 25 members. Requires a FINCA account and CRB review.','active','2026-05-27 20:25:12','2026-05-27 20:25:12');
CREATE TABLE IF NOT EXISTS "institution" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "name" varchar NOT NULL, "type" varchar NOT NULL, "status" text NOT NULL DEFAULT ('active'), "isActive" boolean NOT NULL DEFAULT (1), "description" text, "logoUrl" varchar, "isInterestRateFixed" boolean NOT NULL DEFAULT (1), "requiresCrbCheck" boolean NOT NULL DEFAULT (0), "collateralAccepted" boolean NOT NULL DEFAULT (0), "turnaroundTime" varchar, "reminderAvailable" boolean NOT NULL DEFAULT (0), "digitalApplicationAvailable" boolean NOT NULL DEFAULT (0), "requiredDocuments" text, "reviewDueDate" datetime, "lastVerifiedAt" datetime, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')), "eligibleEmploymentTypes" text, "hasBranches" boolean NOT NULL DEFAULT (0), CONSTRAINT "UQ_d218ad3566afa9e396f184fd7d5" UNIQUE ("name"));
INSERT INTO institution VALUES(2,'FDH Bank','bank','active',1,'',NULL,1,1,0,'',0,0,'[]',NULL,NULL,'2026-05-20 16:25:26','2026-05-24 20:58:02',NULL,0);
INSERT INTO institution VALUES(4,'FINCA Malawi','MICROFINANCE','active',1,NULL,NULL,1,0,0,NULL,0,0,NULL,NULL,NULL,'2026-05-20 16:25:26','2026-05-20 16:25:26',NULL,0);
INSERT INTO institution VALUES(5,'Thato Micro-lend Solutions','MICROFINANCE','inactive',0,NULL,NULL,1,0,0,NULL,0,0,NULL,NULL,NULL,'2026-05-20 16:25:26','2026-05-27 08:43:13',NULL,0);
CREATE TABLE IF NOT EXISTS "eligibility_checks" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "institution_id" text NOT NULL, "institution_name" text NOT NULL, "institution_type" text NOT NULL, "result" text NOT NULL, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "checkedAt" datetime NOT NULL DEFAULT (datetime('now')));
INSERT INTO eligibility_checks VALUES(1,'2','FDH Bank','COMMERCIAL_BANK','LIKELY_ELIGIBLE','2026-05-28 18:01:09','2026-05-28 18:01:09');
INSERT INTO eligibility_checks VALUES(2,'11','Malawi Police SACCO','SACCO','LIKELY_ELIGIBLE','2026-05-28 18:01:09','2026-05-28 18:01:09');
INSERT INTO eligibility_checks VALUES(3,'11','Malawi Police SACCO','SACCO','LIKELY_ELIGIBLE','2026-05-28 18:01:09','2026-05-28 18:01:09');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('admin_activity_log',42);
INSERT INTO sqlite_sequence VALUES('institution_criteria',14);
INSERT INTO sqlite_sequence VALUES('financial_profile',2);
COMMIT;
